[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel = ">=0.34"
pygithub = ">=1.47"
flake8 = ">=7.0.0"
black = ">=24.0.0"
bandit = ">=1.7.0"
pytest = ">=9.0.3"
pytest-aiohttp = ">=1.0.5"
pytest-cov = ">=5.0.0"
pytest-sugar = ">=1.0.0"
pytest-timeout = ">=2.3.1"

[packages]
librouteros = ">=3.4.1"
mac-vendor-lookup = ">=0.1.12"
